<!doctype html>
<html  lang="fr-FR">
   <head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="/static/styles.css" type="text/css">
   </head>
   <body>
      <h1><a class = titre href = "/">SAYFLIX</a></h1>
      <form action = "/ajoutefilm" method = "POST">
         <h3>Données du film</h3>
         Titre<br>
         <input type = "text" name = "titre" id = "titre" required/><br>
         
         Date de sortie<br>
         <input type = "text" name = "datedesortie" id = "datedesortie" placeholder = "2002" required/><br>

         Réalisateur<br>
         <input type = "text" name = "real" id = "real" required/><br>
         

         <input type = "submit" value = "Envoyer" id = "envoyer"/><br>
      </form>
   </body>
</html>