<!doctype html>
<html lang="fr-FR">

<head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="/static/styles.css" type="text/css">
</head>

<body>
   <h1> SAYFLIX <h1>
   <h2><a href="/entreNouveau">S'inscrire</a></h2>
   <h2><a href="/recherche">Recherche d'Inscrits</a></h2>
   <h2><a href="/liste">Les Inscrits</a></h2>
   <h2><a href="/addfilm">Ajout de Films</a></h2>
   <h2><a href="/recherchefilms">Recherche de Film</a></h2>
   <h2><a href="/listefilms">Les Films</a></h2>
</body>



</html>

