<!doctype html>
<html  lang="fr-FR">
   <head><meta charset="utf-8">
   <link rel="stylesheet" href="/static/styles.css" type="text/css">
   </head>
   <body>
   <h1><a class = titre href = "/">SAYFLIX</a></h1>
      <form action = "/requetefilms" method = "POST">
         <h3>Rechercher un film par critère</h3>
         Choisissez le critère de recherche :
         <select name="champ" id="champ" size="1">
             <option value="Titre">Titre</option>
             <option value="Date">Date</option>
             <option value="real">Réalisateur</option>
         </select><br>

         Taper les caractères que vous recherchez.<br>
         <input type = "text" name = "motcle" id = "motcle" required/></br>
         <input type = "submit" value = "Rechercher" id = "rechercher"/><br>
      </form>
    </body>
</html>

