<!doctype html>
<html  lang="fr-FR">
   <head><meta charset="utf-8">
   <link rel="stylesheet" href="/static/styles.css" type="text/css">
   </head>
   <body>
   <h1><a class = titre href = "/">SAYFLIX</a></h1>
      <form action = "/requete" method = "POST">
         <h3>Rechercher un inscrit par critère</h3>
         Choisissez le critère de recherche :
         <select name="champ" id="champ" size="1">
             <option value="pseudo">Pseudo</option>
             <option value="nais">Date de naissance YYYY-MM-JJ</option>
             <option value="email">E-mail</option>
             <option value="mdp">Mot de passe</option>
         </select><br>

         Taper les caractères que vous recherchez.<br>
         <input type = "text" name = "motcle" id = "motcle" required/></br>
         <input type = "submit" value = "Rechercher" id = "rechercher"/><br>
      </form>
    
    </body>
</html>


        