html {
    font-size: 15px;
    font-family:  sans-serif;
    background-color: #36332D; 
  }

body {
    width: 50%;
    margin: 10px auto;
    background-color:#4D4840;
    padding: 0 150px 100px 150px;
    border: 5px solid white;
  }

h1 {
    margin: 15px;
    font-size: 60px;
    color: #E61501;
    text-align: center;
    font-weight: bold;
    text-shadow: rgb(160, 44, 44);
    cursor: default;
}

h2{
    margin: 15px;
    font-size: 20px;
    color: white;
    text-align:left

}

a {
  color:white
}

.titre{
  color: #ff0000;
}

form{
  color:#d98e15
}

h3{
  margin: 15px;
  font-size: 30px;
  color:white;
  text-align:left
}

.video-responsive{
  overflow:hidden; padding-bottom:56.25%; position:relative; height:0;
}

.video-responsive iframe{
  left:0; top:0; height:100%; width:100%; position:absolute;
}

.affiche{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}